.run{
  background-color: blue;
  color: aqua;
  font-size: 60px;
}
.run2{
  background-color: yellow;
  color:blue;
  font-size: 50px;
  width: 50%;
  }
.run3{
  background-color: blue;
  color: yellow;
  font-size: 50px;
  width: 50%;
}
.run4{
  background-color: blue;
  color: yellow;
  font-size: 50px;
  width: 23%;
  height: 200px;

}
.run5{
  background-color: yellow;
  color: blue;
  font-size: 50px;
  width: 23%;
  height: 200px;

}
.run6{
  background-color: rgb(230, 156, 156);
   color: blue;
  font-size: 50px;
  width: 23%;
  height: 200px;
  font-family: 'Caveat', cursive;
}
